#clock-container{
    background-color: rgba(217, 217, 217, 0.896);
    width:420px;
    display:block;
    margin:60px auto;
    padding:10px;
    border-radius:5px;
    border:1px solid whitesmoke;
}
body{
    background-image: url("https://images.pexels.com/photos/1034425/pexels-photo-1034425.jpeg");
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
select{
    margin-right:120px;
    margin-left:100px;
    margin-top:10px;
    width:230px;   
    padding: 5px;
    border-radius:4px;

   
}
footer{
    text-align: center;
    font-size:14px;
    color:white;
}
a{
    font-size:12;
    color:rgb(8, 108, 195);
}
.city{
    display:flex;
    justify-content: space-between;
    border-bottom: dashed gray;
}
.city:last-child{
    border: none;
}
.time{
    font-size: 22px;
    font-weight: bold;
    line-height: 5.3;
}
.time small{
    vertical-align:middle;
    font-size:0.7rem;
    margin:4px;
}
